
        h1 {background:yellowgreen;}
        p {color : blue;}
        h3 {text-align: center;
            color:darkred;}
        body {background-color: aqua;
                color:blueviolet;
                margin-left: 30px;
                margin-right: 30px;}
